@import "tailwindcss";

html, body {
  overflow-x: hidden;
  max-width: 100%;
}
/*Applying these styles to the menu was the only solution*/
.ant-menu-item, 
.ant-menu-submenu-title, 
.ant-menu-title-content {
  color: white !important;
}

.ant-menu-item:hover, 
.ant-menu-submenu-title:hover {
  color: white !important;
}

.ant-menu-item-selected .ant-menu-item-icon, 
.ant-menu-item-selected .ant-menu-title-content {
  color: white !important;
}

.no-scrollbar {
  overflow: hidden !important; /* Disable scrolling */
  overflow-x: hidden !important; /* Hide horizontal scrollbar */
}

.no-scrollbar::-webkit-scrollbar {
  display: none; /* Hide scrollbar for WebKit browsers */
}

.no-scrollbar {
  -ms-overflow-style: none !important; /* Hide scrollbar for IE and Edge */
  scrollbar-width: none !important; /* Hide scrollbar for Firefox */
}

/* Custom scrollbar styles for the entire application */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb {
  background: #1890FF;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #0c7cd5;
}

/* For Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #1890FF #f1f1f1;
}

/* Add fade-out animation */
.fade-out {
  animation: fadeOut 0.5s forwards;
}

@keyframes fadeOut {
  from {
    opacity: 1;
    background-color: white;
  }
  to {
    opacity: 0.5;
    background-color: #1f2937; /* Dark gray */
  }
}